<div class="card-container minus-spacing">
    <div class="card-body minus-spacing">
        <div class="card-details">
            <!-- <h3>NCE / DLS PROGRAMME</h3>
            <p><strong>Name:</strong></p>
            <p><strong>Reg No:</strong></p>
            <p><strong>Department:</strong></p>
            <p><strong>Date Issued:</strong></p>
            <p><strong>Valid Until:</strong></p> -->
            <!-- <p style="position: fixed; font-size: 15px; top: 200; left: 600;"><strong>State:</strong></p> -->
        </div>
    </div>
</div>
